.mui-content-ul{width:100%; height:40px;   z-index: 99999999999; background: #f7f7f7; position: absolute;}
.mui-content-li{ float: left; height: 40px; line-height:40px; border: 1px #ccc solid;}
.mui-content-li .show1{width:100%; text-align:center ; display: block;}
ul li{list-style-type: none;}
.fl{float: left;}
.fr{float: right;}
/*广发*/
.gf ul, .gf li { list-style:none; vertical-align: bottom;}
.car_g{width:100%;height: auto; margin: 0 auto; font-family: "黑体"; font-size:30px;}
.car_g_banner{width:100%; height:499px; background:url(../images/guangfa.png) no-repeat left;}
.wash{width:540px; height:220px; margin:0 auto;}
.wash-car{width: 100%; height:80px; line-height: 80px; text-align: center; color: #fff; font-size:30px; border-radius:15px; background: #f00; margin-bottom: 30px;}
.car_city{width:605px; height:162px; margin:40px auto 70px; border:2px #f00 solid;}
.car_city li{width:100%; height:80px; line-height: 80px; text-align: center; color: #f00;}
.car_city li:first-child{border-bottom:2px #f00 solid ;}
.car_city li a{width:169px; height:68px; text-align: center; line-height: 68px; color: #fff; display: block; background: #FF0000; margin:6px auto;;}
.car_process{width:612px; height:370px; margin: 0 auto;}
.p{width:100%; height:50px; line-height:50px; text-align: center; position: relative; margin-bottom: 25px;}
.p:before{content: "";position:absolute;width:210px;left:0px; margin-top:24px; border:1px solid #000000}
.p:after{content: "";position:absolute;width:210px;right:0px; margin-top:24px; border:1px solid #000000}
.car_process li{height:90px; text-align: center;line-height: 45px; border: 2px solid #000000; width: 100%; margin-bottom:40px;}
.car_process .car_process_li:after{content: "";position:absolute;width: 0;height: 0;border-left: 14px solid transparent;border-right: 14px solid transparent;border-top: 20px solid #000000;margin: 45px -85px;}
.car_rule{width:612px; height:auto; margin: 0 auto;}
.car_rule p{line-height: 50px; font-size:20px; display: block; text-align:justify; width:100%;}
.car_wei{width:100%;height:auto; margin:70px auto 30px;}
.car_wei img{display: block; width:212px; height: 213px; margin:0 auto;}
.car_wei p{width:100%; height:50px; line-height:50px; text-align: center; margin:20px auto;}
#myTab ,#myTab1{position: absolute;top:40px; padding: 0; margin:0; height:auto;background:#fff; z-index: 2; }
#myTab1 li{width:20%; display: inline; float:left; width:20%; margin:8px 2.5%; text-align: center; border-radius:5px; line-height:38px; border:1px #F7F7F7 solid}
#myTab li{width:90%; text-align: center; line-height:40px; height:40px; border-bottom:1px #ccc solid; margin:0 auto;}
#myTab li:last-child{border:none}
.more{text-align: center; line-height:30px;;}
.mui-table-view .mui-media-object{height:81px; width:81px; max-height: 81px; max-width: 81px; margin-top:10px;}
.mui-km{float: right;}
.bg{position: absolute;left: 0; top: 0; width: 100%; height:200%; z-index:1; background: rgba(0,0,0,.5); display: none;}
.mui-table-view li{border-bottom:1px #F7F7F7 solid !important;}
.mui-table-view-cell:after,.mui-table-view:before ,.mui-table-view:after{ background: none !important;}
.mui-banner {overflow: hidden; height: 210px; width:100%;}
.mui-banner img{display: block !important; width:100%; height:160px; opacity: 0.7;}
.mui-banner p span{font-size:20px;}
.mui-banner p{position:absolute; line-height:25px; top:65px; text-align: center; width:100%; color: #FFFFFF; font-size:15px;}
.mui-ch-map{height:40px; line-height:40px; background:#fff;}
.mui-ch-map span{float:left; display: block; line-height:40px;}
.mui-ch-map span:first-child{padding-left:10px}
.mui-cintent-ch{padding-top:10px !important;}
.mui-cs-ul{margin-top: 0 !important; background: #fff !important; margin-bottom: 10px !important;}
.mui-cs-ul p {text-align: center; line-height:40px; margin:10px auto 0;}
.mui-cs-ul .mui-table-view-cell:after{border: none !important; height:0 !important;}
.mui-cs-ul .mui-table-view-cell{border-right: none !important;}
.mui-cs-ul:after{height:0 !important;}
.mui-ch-more{margin-top: 0 !important;}
.mui-card{left:0; margin:0 !important; width:100%;}
#confirm{width:60%; margin:10px 5%; text-align: center; display: block;float: left;}
#reset{width:20%; margin:10px 5%; text-align: center; float: left; display: block;}
.selected{background:#007AFF; color:#fff}
.normal1{background:#f00;}
.show{display: block !important;}
.show1 i{ width:12px; height:11px; display:inline-block;margin-left: 5px; transform-style: preserve-3d; background:url(../images/arrow_down.png) no-repeat 0 2px; background-size:12px 6.5px;
-webkit-transition: all .25s linear 0s;
   -moz-transition: all .25s linear 0s;
    -ms-transition: all .25s linear 0s;
     -o-transition: all .25s linear 0s;
        transition: all .25s linear 0s;}
.show1 i.turn{-webkit-transform: rotate3d(1,0,0,180deg);-moz-transform: rotate3d(1,0,0,180deg);-ms-transform: rotate3d(1,0,0,180deg);-o-transform: rotate3d(1,0,0,180deg);transform: rotate3d(1,0,0,180deg);}
.map-jl-a{margin:0 auto; background: #2f7ec1; height: auto; padding:0px 0 20px;}
.map-jl{ height:395px; margin:0 auto; overflow: hidden; background: #fff;position: fixed; top: 60px; left:0; right: 0;;}
.map-jl-head{height:auto; width: 100%;}
.map-jl-head img{height:160px; width:100%; display: block;}
.map-jl-head  p{text-align:center;line-height: 30px; color:#000;padding:10px 0;width:80%; border-bottom: 1px #F7F7F7 solid; margin: 0 auto;}
.map-jl-lx {width:80%; margin:0 auto; border-bottom: 1px #F7F7F7 solid; height:110px;}
.map-jl-lx li{float: left; text-align: center; list-style: none; display: block;}
.map-jl-lx li a span{width:100%; display: block; float:left; margin:20px 0 5px}
.map-jl-lx li a span:last-child{color: #ACACB4;}
.mui-jl-foot,.mui-jl-top{height:50px; line-height:50px; text-align: center; }
.mui-jl-top:after{content: "";position:absolute;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #fff;margin: 36px -38px;}
.mui-bar-nav~.mui-content{padding-top: 0 !important;}
.mui-car{position: relative;}
.mui-jl-top{position: fixed; top:0px; left: 0; right: 0;color:#fff;}
#mui-car{overflow: auto !important; top:-80px; background: #fff;}
/*#mui-car .fp-tableCell{position: fixed;top:0;}*/
.mui-car-article{overflow: auto; width: 100%; padding-top:40px}
.slimScrollBar{width:0px !important}
.mui-media-body p span{display: block;}
.mui-media-body p span i.mui-icon{font-size: 20px;}
.car_other{height:auto}
.car_fl_p1{width:100%; height:20px;}
.car_fl_p1 span{font-size:15px; height:20px; line-height:20px;}
.car_fl_p2{padding:4px 0 0; height:32px;}
.car_fl_p1 i img{height:20px;}
.car_fl_p2 span{ line-height:18px; padding:1px 4px; color: #8f8f94; display: block; float: left; font-size:13px;}
.car_fl_p2 span:first-child{background: #2f7ec1; color:#fff;border-radius:5px;}
.mui-media-body p.mui-ellipsis{width:100%; }
.car_other_fr s{width:50%; float: left; display:block; text-align: center; line-height: 52px; color:#8f8f94 ;}
.car_other_fr span{width:50%; float: left; display:block; text-align: center; line-height: 52px; color:#2f7ec1}
.mui-media-body p:first-child{color: #000; font-size:16px;}
.mui-car-list .mui-table-view{margin-bottom: 10px;}
.mui-car-list .mui-table-view li:first-child{color:#2f7ec1}
.mui-car-list .mui-table-view li p s{}
.mui-car-list .mui-table-view li p span{padding:0 10px; color: #2f7ec1;}
em{font-style: normal;font-weight: normal;}
.mui-car-article{height: auto !important;}
/*.mui-content-ul{top:-40px;}*/

 .grey{
 pointer-events:none; 
 background: #C7C7CC;
 color: #fff;
 }
.car_fl_p3{width:100%; height:52px; line-height:52px;}
.car_fl_p3 span{font-size:15px; height:52px; line-height:52px; text-indent:2rem;}
.car_fl_p3 i,.car_other_frr i{font-style: normal;}
.car_other_cn{width:50px;height:50px; border-radius:50px;font-size:15px;text-align: center;line-height:50px;color: #fff;background: #3bc16a;}
.price{color:#3bc16a; font-size:20px;}
.car_other_frr s{width:50%; float: left; display:block; text-align: center; line-height: 56px; color:#8f8f94 ;}
.car_other_frr span{width:50%; float: left; display:block; text-align: center; line-height: 52px; color:#3bc16a;font-size:13px;}
.car_other_frr span sub{bottom:0}
.washer_b{width:100%; height:auto;  display: block;}
.washer_b img{display: block; font-size: 0; width:100%;height: auto;}
.mui-ellipsis a{color:#8f8f94;}
.car_other{display:block;overflow:hidden;}
.mui_km{display:block;}
