
html,
body {
    font-family: 'microsoft yahei', 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: #eee;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100%;
}

/*设置margin和padding为0*/
* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.db {
    display: block;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-11,
.col-12 {
    float: left;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}

.auto {
    height: auto !important;
    margin-bottom: 20px;
}

.repair {
    width: 100%;
    margin: 0 auto;
}

.form-repair {
    width: 95%;
    margin: 0 auto;
}

.form-group {
    height: 35px;
    line-height: 35px;
    margin: 10px auto;
}

input {
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
    width: 100%;
    border: none;
    outline: 0;
    background: #fff
}

textarea {
    height: 100px;
    border: none;
    padding-top: 10px;
    text-indent: 2rem;
}

.btn-info {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #3bc16a;
    margin: 50px auto 0;
    border: none;
    color: #fff;
    width: 25%;
    margin-left: 37.5%;
}

.repair-lsit dt:nth-child(1) {
    margin-top: 0;
}

.repair-list dt {
    color: #000;
}

.repair-list dd {
    color: #000;
    line-height: 28px;
    display: none;
}

.checkbox input {
    width: 15px;
    height: 15px;
    display: block;
    float: left
}

.checkbox span {
    color: #3bc16a;
    display: none;
    margin-top: -6px;
    margin-left: 5px;
    float: left;
}

.checkbox label i {
    margin-top: -6px;
    margin-left: 5px;
    font-style: normal;
    display: block;
    float: left
}

.ddiv {
    margin-left: 0%;
}

/*扫码*/
.scan_fl {
    height: 50px;
    margin: 10px auto;
}

.scan_fl img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    display: block;
    font-size: 0;
}

.scan_fr {
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
    text-indent: 10px
}

#binding {
    width: 98%;
    margin: 0 auto;
}
#bicscan{
    height:40px !important; line-height:40px !important;   text-indent: 35px;}
.company, .bicycle {
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
}


#comsel {
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
}

.bicycle {
    position: relative;
}

.bicycle i {
    background: url(../images/scan.png) no-repeat left;
    background-size: 30px 30px;
    display: block;
    position: absolute;
    left: 33.33333333%;
    width: 30px;
    height: 30px;
    top: 5px;
    margin-left: 3px;
}